{% extends "base.phtml" %}
{% load static from staticfiles %}

{% block additional_head %}
	<link   rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"/>
	<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block content %}	
	<div ng-app="App">
		<div ng-controller="ctrl" style="position: relative;">
  			<h3 ng-hide="contentShow">Please Select The Product You Would Like to Add an Upsell for:</h3>
			<div class="main-ui dropdown">
				<select  class="form-control" ng-model="productSelected" ng-change="changedValue(productSelected)">
					<option selected> -- select an option -- </option>
					{% for product in products%}
						<option value="{{product.id}}">{{product.title}}</option>
					{% endfor %}
				</select>
			</div>
			<div ng-show="contentShow" class="main-ui main-product">
				<div style="float:left; margin-right: 20px;">
					<img src="{[{main_product[0].attributes.images[0].attributes.src}]}" height="100" width="100">
				</div>
				<div>
					<h3>{[{main_product[0].attributes.title}]}</h3>
				</div>
				<div>
					<h3>${[{main_product[0].attributes.variants[0].attributes.price}]}</h3>
				</div>
			</div>
			<div ng-show="contentShow" class="main-ui panel-wrapper">
				<div class="panel panel-default" id="box1">
					<div class="panel-heading">
						<h3>Available Products for Upsell</h3>
					</div>
					<ul class="list-group" ng-repeat="available_upsell_product in available_upsell_products"> 
						<li class="list-group-item" style="position: relative; display:inline-block;" ng-click="setSelected(available_upsell_product.attributes.id)" ng-class="{selected: isInArray(available_upsell_product.attributes.id,selection)}">
							<div style="float: left;">
								<img src="{[{available_upsell_product.attributes.images[0].attributes.src}]}" height="100" width="100">
							</div>
							<div style="float: left; margin-left: 50px;">
								<h3>{[{available_upsell_product.attributes.title}]}</h3>
								<h3>${[{available_upsell_product.attributes.variants[0].attributes.price}]}</h3>
								<input type="hidden" id="{[{available_upsell_product.attributes.id}]}">
							</div>
						</li>
					</ul>		
					<input type="button" class="btn btn-primary" ng-click="saveSelected()" value="Save">
				</div>
				<div class="panel panel-default" id="box2">
					<div class="panel-heading">
						<h3>Upsell Products Chosen</h3>
					</div>
					<ul class="list-group" ng-repeat="existing_upsell_product in existing_upsell_products"> 
						<li class="list-group-item" style="position: relative; display:inline-block;">
							<div style="float: left;">
								<img src="{[{existing_upsell_product.attributes.images[0].attributes.src}]}" height="100" width="100">
							</div>
							<div style="float: left; margin-left: 50px; margin-right: 20px;">
								<h3>{[{existing_upsell_product.attributes.title}]}</h3>
								<h3>${[{existing_upsell_product.attributes.variants[0].attributes.price}]}</h3>
								<input type="hidden" id="{[{existing_upsell_product.attributes.id}]}">
							</div>
							<div style="float: right;">
								<img src="https://i.imgur.com/mvrQggI.jpg" ng-click="setRemoveSelected(existing_upsell_product.attributes.id)" height="20" width="20">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}