{% extends "base.phtml" %}

{% block content %}
	<h1> This is the dashboard </h1>
	<form method="post" id="form-id" action="/randomUpsell">{% csrf_token %}
		<input type="submit" value="Generate Random Upsell Product">
	</form>
	<br />
	
	<div id="upsell">
		<h2> You Have Chose The following Product as an Upsell</h2>
		<div style="float: left;">
			<img src="{{product.image.src}}" height="200" width="200">
		</div>
		<div style="float: left; margin-left: 50px;">
			<h1>{{product.title}}</h1>
			<h1>${{product.variants.0.price}}</h1>
			<a href="http://{{shop.domain}}/cart/{{product.variants.0.id}}:1"> <img src="https://farm6.staticflickr.com/5244/5217478620_5a9d55b3ae_o_d.jpg" height="50" width="150">
			</a>
			<input type="hidden" id="product_id" value={{product.id}}>
		</div>
	</div>
{% endblock %}