{% extends "base.phtml" %}
{% load static from staticfiles %}

{% block additional_head %}
	<link   rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}"/>

{% endblock %}
	
	
{% block content %}
	<div ng-app="AppStats">
		<div id="page-wrap" ng-init="myModel = {{upsell_stats_json}}" >
		<h2> Upsell Analytics</h2>
	        <table>
	            <tr>
	                <td>
	                    Views
	                </td>
	                <td >
	                    Clicks
	                </td>
	                <td>
	                    Sales
	                </td>
	                <td>
	                	Sales Amount
	                </td>
	            </tr>
	            <tr ng-repeat="model in myModel">
	                <td >
	                   {[{ model['fields']['views']}]}
	                </td>
	                <td>
	                    {[{ model['fields']['clicks']}]}
	                </td>
	                <td>
	                    {[{ model['fields']['sales']}]}
	                </td>
	                <td>
	                    {[{ model['fields']['sales_amount']}]}
	                </td>
	            </tr>
	
	        </table>
	    </div>
            

{% endblock %}

{% block bottom_js %}
	<script type="text/javascript">

		angular.module('AppStats', [])
		
			.config(function($interpolateProvider) {
				$interpolateProvider.startSymbol('{[{');
				$interpolateProvider.endSymbol('}]}');
			})

			   

	</script>
{% endblock %}