<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	<!-- Flatly theme -->
	<link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css">
	
	{% load static from staticfiles %}
	<link   rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	
		
	{% block additional_head %}{% endblock %}
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/dashboard" style="margin-left: 60px;">Dashboard</a>
				<a class="navbar-brand" href="/analytics">Analytics</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			{% block content %}{% endblock %}
		</div>
	</div>
</body>
{% block bottom_js %}{% endblock %}
</html>